<h1>All the cats </h1>

<% @cats.each do |cat| %>
  <%=cat.breed %><br>
  <%= cat.description %><br>
  <%= link_to 'Edit', edit_cat_path(cat) %> <br>

  <%= link_to 'Delete', cat_path(cat.id), method: :delete %>
  <!-- #link_to normally automatically to get requests so you have to chenge the #method to delete -->
   <br>



<% end %>
<br>
<%= link_to 'Make a New cat', new_cat_path %>