<h1>What is your new Cat breed</h1>

<%= form_for @cat do |f| %>
<%= f.text_field :breed, placeholder: 'Breed' %><br>
<%= f.text_area :description. placeholder: 'Describe the Cat' %><br>

<%= f.submit %>

<% end %>

<%= link_to 'Cats List', cats_path %>
